@tailwind base;
@tailwind components;
@tailwind utilities;


.options{
    @apply block py-2 px-4 text-sm hover:bg-yellow-500;
}


.olm{
    @apply py-5 px-3 hover:text-gray-600;
}

.heading-cont{
    background-image: url(../images/back.jpg);
    
    
    
}
/* .pic{
    
    bottom: 3rem;
} */
@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');
.pic{
  font-family: 'Petemoss', cursive;

}
/* SEEEEEEEE */

.Gdrive{
    @apply hover:text-blue-600;
}